.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post {
    padding-bottom: 40px;
    &:last-child {
        padding-bottom: 0;
    }
    h2 {
        font-size: 27px;
        margin: 0 0 10px;
        text-align: center;
        a {
            color: #555;
            &:hover {
                color: #222;
            }
        }
    }
}

.meta {
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.featured {
    max-height: 330px;
}

.excerpt {
    margin: 30px 0 15px;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.button {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    a {
        color: #555;
        padding: 8px 12px;
        border: 1px solid #555;
        &:hover {
            color: #fff;
            border-color: #222;
            background-color: #222;
        }
    }
}