.header {
    position: relative;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/header-image.jpg");
}

.hero-content {
    position: absolute;
    top: 35%;
    margin: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.brand {
    margin: 0;
    padding: 0 0 10px;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 5.5px;

    a {
        color: #fff;
    }
}

.description {
    margin: 0;
    padding: 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 3.5px;
    opacity: 0.7;
    color: #fff;
}

.nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list {
    margin: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;

    li {
        letter-spacing: 0.05em;
        background: none;
        padding: 7px 14px 10px;
    }

    a {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        opacity: 0.7;

        &:hover {
            text-decoration: underline;
        }
    }
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.active-menu-item {
    text-decoration: underline;
}